@font-face {
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src: url('https://www.taskrabbit.com/_next/static/media/1742e957471d043e-s.p.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'IvyPrestoHeadline';
  font-style: normal;
  font-weight: normal;
  src: url('https://www.taskrabbit.com/_next/static/media/8fee69517d7b8078-s.p.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/a34f9d1faa5f3315-s.p.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/6d93bde91c0c2823-s.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/97e0cb1ae144a2a9-s.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/581909926a08bbc8-s.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/df0a9ae256c0569c-s.woff2') format('woff2');
  unicode-range: U+0370-03FF;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/26a46d62cd723877-s.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  src: url('https://www.taskrabbit.com/_next/static/media/55c55f0601d81cf3-s.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display: swap;
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 200 800;
  src: url('https://cdn.dvmgc.com/fonts/v1/bricolagegrotesque/W4k3Yu9VX9QW32RAqmhULP.ttf') format('truetype');
  font-display: swap;
}

/* Font classes for easy usage */
.font-icomoon {
  font-family: 'icomoon', sans-serif;
}

.font-ivy-presto {
  font-family: 'IvyPrestoHeadline', serif;
}

.font-inter {
  font-family: 'Inter', sans-serif;
}

.font-bricolage {
  font-family: 'Bricolage Grotesque', sans-serif;
}
